DB_HOST=#host
DB_PORT=#puerto de la base de datos
DB_NAME=#nombre de la base de datos
DB_USER=#usuario de la base de datos
DB_PASSWORD=#contraseña de la base de datos
DB_MAX_CONNECTIONS=#máximo de conexiones
DB_IDLE_TIMEOUT=#tiempo máximo de inactividad
DB_CONNECTION_TIMEOUT=#tiempo máximo de conexión